<div id="dashboard">
    <h1 class="mat-h1">Dashboard</h1>
    <mat-card class="mat-elevation-z5">
      <mat-card-header>
        <mat-card-title>
          Forms to complete:
        </mat-card-title>
      </mat-card-header>
      <div class="card-content-div" >
        <div class="forms">
            <a mat-list-item routerLink="registration-form">
                <button mat-icon-button>
                  <mat-icon>summarize</mat-icon>
                </button>
                Registration Form
            </a>
            
        </div>
        <div class="forms">
            <a mat-list-item routerLink="registration-form">
                <button mat-icon-button>
                  <mat-icon>summarize</mat-icon>
                </button>
                Enrolment Form
            </a>
        </div>
        <div class="forms">
            <a mat-list-item routerLink="registration-form">
                <button mat-icon-button>
                  <mat-icon>summarize</mat-icon>
                </button>
                International Student Declaration
            </a>
        </div>
      </div>
    </mat-card>
  </div>