.card {
  margin: 20px 10px;
  min-width: 250px;
}

.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.in-card {
  display: flex;
}

.mat-card-content {
  overflow: auto;
  display: flex;
}

.student-tittle {
  min-width: 120px; 
  max-width: 150px; 
  margin-top: 10px;
  margin-right: 30px;
}

@media screen and (max-width: 600px) {
  .in-card {
    display: block;
  }
}