
<div class="about">

  <h3 class="alert">IMPORTANT DISCLAIMER: This site is part of a student project.</h3>

  <h1 class="mat-h1">Contact MIT International</h1>

  <p style="margin-left: 0;">The International Information Centre is located at the Manukau campus at the student services reception on level 2. 
    We are also contactable by phone, email and Facebook.</p>

  <div class="section">
    <div class="section-header">
      <mat-icon>home</mat-icon>
      <h2>Location</h2>
    </div>
    <a mat-list-item href="https://goo.gl/maps/BaEFriMfowdUGGzy9" target="_blank">
      <p>MIT Manukau campus, level 2 within the student services reception.</p>
    </a>
  </div>

  <div class="section">
    <div class="section-header">
      <mat-icon>watch_later</mat-icon>
      <h2>Opening Hours</h2>
    </div>
    <span>Monday: 8am - 4pm</span>
    <span>Tuesday: 8am - 4pm</span>
    <span>Wednesday: 10am - 4pm</span>
    <span>Thursday: 8am - 4pm</span>
    <span>Friday: 8am - 4pm</span>
    <span>Saturday - Sunday: Closed</span>
  </div>

  <div class="section">
    <div class="section-header">
      <mat-icon>phone</mat-icon>
      <h2>Phone</h2>
    </div>
    <span><a href="tel:+6499688742">+64 9 968 8742 </a>(during office hours only) </span>
  </div>

  <div class="section">
    <div class="section-header">
      <mat-icon>email</mat-icon>
      <h2>Email</h2>
    </div>
    <p><a href="mailto:international.application@manukau.ac.nz">international.application@manukau.ac.nz</a></p>
  </div>

  <div class="section">
    <div class="section-header">
      <mat-icon>emergency</mat-icon>
      <h2>After Hours Emergency Pastoral Care</h2>
    </div>
    <span class="alert">For current MIT International Students only</span>
    <span><a href="tel:08006482273">0800 648 2273 </a> (within NZ) </span>
    <span><a href="tel:+6499687778">+64 9 968 7778 </a> (from overseas) </span>
  </div>

  <div class="section">
    <div class="section-header">
      <mat-icon>night_shelter</mat-icon>
      <h2>Homestay Manager</h2>
    </div>
    <span class="alert">For MIT International Students in homestay</span>
    <span><a href="tel:+6496255037">+64 9 625 5037  </a> (office) </span>
    <span><a href="tel:+6421365075">+64 21 365 075 </a> (mobile) </span>
    <span><a href="mailto:cvbangs@slingshot.co.nz">cvbangs@slingshot.co.nz</a></span>
  </div>

  <div class="section">
    <div class="section-header">
      <mat-icon>whatsapp</mat-icon>
      <h2>Social Media</h2>
    </div>
    <a mat-list-item href="https://www.facebook.com/manukau.international" target="_blank">
      <p>Facebook</p>
    </a>
  </div>
  
  <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d50986.491720351805!2d174.87733!3d-36.99415!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x5ff8de291c4fc145!2sMIT%20Manukau%20Campus!5e0!3m2!1sen!2snz!4v1638270208400!5m2!1sen!2snz" 
  width="100%" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe>

</div>


