<mat-sidenav-container class="sidenav-container">
  
  <mat-sidenav #drawer class="sidenav" fixedInViewport
      [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
      [mode]="(isHandset$ | async) ? 'over' : 'side'"
      [opened]="(isHandset$ | async) === false">

    <mat-toolbar><img src="https://www.manukau.ac.nz/__data/assets/image/0011/166709/MIT-logo-landscape-white.png" 
      alt="MIT Logo"
      class="center">
    </mat-toolbar>

    <mat-nav-list>

      <a mat-list-item routerLink="home">
        <mat-icon>home</mat-icon>
        Home
      </a>

      <mat-divider></mat-divider>

      <a mat-list-item routerLink="table">
        <mat-icon>table</mat-icon>
        Table
      </a>

      <a mat-list-item routerLink="create-student">
        <mat-icon>add</mat-icon>
        New Student
      </a>

      <a mat-list-item routerLink="edit-student">
        <mat-icon>edit</mat-icon>
        Edit Student
      </a>

      <a mat-list-item routerLink="">
        <mat-icon>login</mat-icon>
        Log In
      </a>

      <mat-divider></mat-divider>

      <a mat-list-item routerLink="/">
        <mat-icon>library_books</mat-icon>
        <span>Courses</span>
      </a>

      <a mat-list-item routerLink="/create-user">
        <mat-icon>add_circle_outline</mat-icon>
        <span>Create user</span>
      </a>

      <a mat-list-item routerLink="about">
        <mat-icon>question_answer</mat-icon>
        <span>About</span>
      </a>
      <a mat-list-item routerLink="login">
        <mat-icon>person_add</mat-icon>
        <span>Register</span>
      </a>

      <a mat-list-item routerLink="login">
        <mat-icon>account_circle</mat-icon>
        <span>Login</span>
      </a>

      <a mat-list-item>
        <mat-icon>exit_to_app</mat-icon>
        <span>Logout</span>
      </a>
      
    </mat-nav-list>

  </mat-sidenav>

  <mat-sidenav-content>

    <mat-toolbar style="background: #595959; color: white;">
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <span >MIT International</span>
    </mat-toolbar>

    <!-- Add Content Here -->
    <router-outlet></router-outlet>

  </mat-sidenav-content>

</mat-sidenav-container>
